**650710728-** สุภัทรา เค้าสำราญ

In [15]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
import re

เป็นการนำเข้าไลบรารี pandas และตั้งชื่อย่อว่า pd และ นำเข้า numpy ย่อเป็น np  ส่วน datetime และ timedelta ใช้สำหรับจัดการและคำนวณวันที่เวลา ส่วน warnings.filterwarnings('ignore') ใช้เพื่อปิดการแสดงข้อความเตือนขณะรันโปรแกรม และนำเข้า LabelEncoder จากโมดูล sklearn.preprocessing ใช้แปลงค่าข้อความ (string/label) ให้เป็นตัวเลข และ import re ใช้ค้นหา จับคู่ หรือแทนที่ข้อความตามรูปแบบที่กำหนด

In [16]:
df = pd.read_csv("student.csv")

เป็นคำสั่งใน pandas ที่ใช้ อ่านไฟล์ CSV แล้วเก็บข้อมูลไว้ในตัวแปร df ในรูปแบบ DataFrame

In [18]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0

df โชว์ตารางข้อมูล (DataFrame) ทั้งหมด ของตัวแปร df ให้ดูแบบสวยงามในรูปแบบตาราง

In [19]:
df_clean = df.copy()

ใช้เพื่อ สร้างสำเนาของ DataFrame df ขึ้นมาใหม่อีกตัวหนึ่งชื่อ df_clean หรือพูดง่ายๆคือเป็นการก็อปปี้ข้อมูลไว้อีกชุดแยกต่างหาก

In [20]:
df_clean.columns = df_clean.columns.str.strip()

df_clean.columns = df_clean.columns.str.strip() เป็นการลบช่องว่าง (space) ด้านหน้าและด้านหลังของชื่อคอลัมน์ใน DataFrame ทำให้คอลัมน์สะอาดขึ้น

In [21]:
df_clean.loc[df_clean['GPA'] < 0, 'GPA'] = np.nan  # Remove negative GPA
df_clean.loc[df_clean['GPA'] > 4.0, 'GPA'] = 4.0   # Cap at 4.0

โค้ดนี้เป็นการจัดการค่าผิดปกติในคอลัมน์ 'GPA' ของ DataFrame df_clean โดยใช้ .loc เพื่อเลือกและแก้ไขข้อมูลตามเงื่อนไข หรือทำความสะอาดข้อมูล GPA โดยลบค่าติดลบและปรับค่าที่เกินขอบเขตให้เหมาะสม

In [22]:
df_clean.loc[df_clean['อายุ'] > 30, 'อายุ'] = np.nan  # Remove unrealistic age (150)
df_clean.loc[df_clean['อายุ'] < 17, 'อายุ'] = np.nan

โค้ดนี้ใช้ ลบหรือแทนค่าข้อมูลอายุที่อยู่นอกช่วง 17-30 ปีด้วยค่าว่าง (NaN) เพื่อให้ข้อมูลสะอาดและเหมาะสมกับการวิเคราะห์ต่อไป

In [23]:
df_clean.loc[df_clean['ส่วนสูง_cm'] < 140, 'ส่วนสูง_cm'] = np.nan
df_clean.loc[df_clean['ส่วนสูง_cm'] > 200, 'ส่วนสูง_cm'] = np.nan

 โค้ดนี้ช่วย กรองและลบข้อมูลส่วนสูงที่อยู่นอกช่วง 140–200 ซม. เพื่อให้ข้อมูลสะอาดและเชื่อถือได้มากขึ้น ก่อนนำไปวิเคราะห์ต่อ

In [24]:
df_clean.loc[df_clean['น้ำหนัก_kg'] < 35, 'น้ำหนัก_kg'] = np.nan
df_clean.loc[df_clean['น้ำหนัก_kg'] > 120, 'น้ำหนัก_kg'] = np.nan

โค้ดนี้เป็นการทำความสะอาดข้อมูลในคอลัมน์ 'น้ำหนัก_kg' ของ DataFrame df_clean โดยแทนค่าที่ผิดปกติด้วย NaN เพื่อบ่งบอกว่าข้อมูลนี้ไม่มีค่า

In [25]:
df_clean.loc[df_clean['ชั่วโมงเรียน_ต่อสัปดาห์'] < 5, 'ชั่วโมงเรียน_ต่อสัปดาห์'] = np.nan
df_clean.loc[df_clean['ชั่วโมงเรียน_ต่อสัปดาห์'] > 40, 'ชั่วโมงเรียน_ต่อสัปดาห์'] = np.nan

โค้ดนี้เป็นการทำความสะอาดข้อมูลในคอลัมน์ 'ชั่วโมงเรียน_ต่อสัปดาห์' ของ DataFrame df_clean คือเลือกแถวที่ค่าชั่วโมงเรียนต่อต่ำกว่า 5 ชั่วโมงต่อสัปดาห์ ซึ่งอาจน้อยเกินไปหรือผิดพลาด
แล้วแทนค่าดังกล่าวด้วย NaN เพื่อบ่งบอกว่าข้อมูลขาดหายหรือไม่ถูกต้อง

In [26]:
gender_mapping = {
        'ชาย': 'ชาย',
        'หญิง': 'หญิง',
        'ญ': 'หญิง',
        'ช': 'ชาย',
        'M': 'ชาย',
        'F': 'หญิง',
        'Male': 'ชาย',
        'Female': 'หญิง'
    }

df_clean['เพศ'] = df_clean['เพศ'].map(gender_mapping)

โค้ดนี้เป็นการ ปรับค่าข้อมูลในคอลัมน์ 'เพศ' ของ DataFrame df_clean ให้เป็นรูปแบบที่สอดคล้องกัน ใช้ .map() แทนค่าทุกค่าในคอลัมน์เพศ ด้วยค่าที่ตรงกับ gender_mapping

In [27]:
faculty_mapping = {
        'วิทยาศาสตร์': 'Science',
        'วิทย์': 'Science',
        'Science': 'Science',
        'Sci': 'Science',
        'คณะวิทยาศาสตร์': 'Science',
        'วิศวะ': 'Engineering',
        'วิศวกรรม': 'Engineering',
        'วิศวฯ': 'Engineering',
        'วิศวกรรมศาสตร์': 'Engineering',
        'Engineering': 'Engineering',
        'ศิลปศาสตร์': 'Liberal Arts',
        'ศิลป์': 'Liberal Arts',
        'Arts': 'Liberal Arts',
        'Liberal Arts': 'Liberal Arts'
    }

df_clean['คณะ'] = df_clean['คณะ'].map(faculty_mapping)

ค้ดนี้ช่วยให้ข้อมูลคณะเป็นระเบียบและง่ายต่อการวิเคราะห์ด้วยการรวมชื่อคณะที่เหมือนกันแต่เขียนต่างรูปแบบให้อยู่ในรูปแบบเดียวกัน เช่น คำที่เกี่ยวกับวิทยาศาสตร์ เช่น วิทยาศาสตร์ เป็น วิทย์, Science เป็น Sci

In [28]:
for col in ['เพศ', 'คณะ']:
    df_clean[col].fillna(df_clean[col].mode()[0], inplace=True)

โค้ดนี้เป็นการเติมค่าที่หายไป (missing values) ในคอลัมน์ เพศ และ คณะ ของ DataFrame df_clean ด้วยค่าที่พบมากที่สุดในแต่ละคอลัมน์นั้น คือ for col in ['เพศ', 'คณะ']: ทำงานวนลูปทีละคอลัมน์ คือ 'เพศ' และ 'คณะ'

In [29]:
for col in [ 'อายุ', 'GPA', 'ส่วนสูง_cm', 'น้ำหนัก_kg', 'ชั่วโมงเรียน_ต่อสัปดาห์']:
    df_clean[col] = df_clean[col].fillna(df_clean[col].mean())
df_clean['อายุ'] = df_clean['อายุ'].astype(np.double)

ส่วนแรกทำลูปผ่านคอลัมน์ที่ระบุ ได้แก่ 'อายุ', 'GPA', 'ส่วนสูง', 'น้ำหนัก' และ 'ชั่วโมงเรียนต่อสัปดาห์' ในแต่ละคอลัมน์ จะเติมค่าที่หายไปด้วยค่าเฉลี่ย ของคอลัมน์นั้น ช่วยให้ข้อมูลสมบูรณ์มากขึ้น โดยไม่ใช้ค่า NaN ในการวิเคราะห์
ส่วนที่สอง คือ แปลงชนิดข้อมูลของคอลัมน์ 'อายุ' ให้เป็นตัวเลขทศนิยม เพื่อให้แน่ใจว่าค่าในคอลัมน์อยู่ในรูปแบบตัวเลขสำหรับการคำนวณ

In [30]:
df.to_csv("student_cleaned.csv", index=False)

โค้ดนี้ใช้คำสั่ง df.to_csv("student_cleaned.csv", index=False) เพื่อ บันทึก DataFrame df ลงเป็นไฟล์ CSV ส่วน index=False คือการบอกไม่ให้บันทึกคอลัมน์ดัชนีของ DataFrame ลงไปในไฟล์ CSV เพื่อให้ไฟล์สะอาด

In [31]:
df_clean

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์
0,64001,สมชาย,20.000,ชาย,Science,3.210000,170.000000,65.000000,15.000000
1,64002,สมหญิง,21.000,หญิง,Science,3.450000,165.000000,58.000000,20.000000
2,64003,NaN,20.875,ชาย,Science,3.670000,175.000000,63.611111,25.000000
3,64004,สมศักดิ์,22.000,ชาย,Science,3.466471,168.000000,70.000000,10.000000
4,64005,สมใจ,19.000,หญิง,Engineering,3.890000,160.000000,52.000000,30.000000
5,64006,กานต์,20.875,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000
6,64007,กิตติ,21.000,หญิง,Engineering,4.000000,158.000000,48.000000,35.000000
7,64008,จิรา,20.000,หญิง,Liberal Arts,2.980000,180.000000,82.000000,18.000000
8,64009,ชนาธิป,23.000,ชาย,Liberal Arts,3.340000,163.000000,55.000000,22.000000
9,64010,ดารา,21.000,หญิง,Liberal Arts,3.560000,167.000000,60.000000,28.000000
10,64011,ธีระ,20.875,ชาย,Science,3.780000,167.684211,68.000000,21.388889
11,64012,นภา,22.000,ชาย,Science,3.466471,171.000000,63.611111,16.000000
12,64013,บุญมี,20.000,หญิง,Engineering,3.230000,169.000000,72.000000,24.000000
13,64014,ปรีชา,21.000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000
14,64015,พิมพ์,22.000,หญิง,Science,3.670000,162.000000,56.000000,26.000000
15,64016,ภูมิ,19.000,ชาย,Science,3.890000,173.000000,78.000000,14.000000
16,64017,มานี,20.000,หญิง,Engineering,3.010000,166.000000,62.000000,21.000000
17,64018,ยุพา,21.000,หญิง,Science,3.230000,161.000000,50.000000,27.000000
18,64019,รัตนา,20.875,ชาย,Liberal Arts,3.466471,174.000000,76.000000,21.388889
19,64020,ลัดดา,22.000,ชาย,Science,3.450000,168.000000,64.000000,23.000000

เป็นการแสดงตารางข้อมูลทั้งหมดในตัวแปร df_clean เป็นชุดข้อมูลตารางที่ผ่านการทำความสะอาดและพร้อมใช้งานต่อไป โดยจะแสดงข้อมูลในรูปแบบตารางที่อ่านง่าย เหมือนดูข้อมูลใน Excel

In [32]:
df_clean['ชื่อ'] = df_clean['ชื่อ'].fillna('ไม่ระบุชื่อ')

โค้ดนี้จะเติมคำว่า 'ไม่ระบุชื่อ' เข้าไปแทนค่าที่ว่างหรือหายไปในคอลัมน์ ชื่อ ของตาราง df_clean

In [33]:
df_clean

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์
0,64001,สมชาย,20.000,ชาย,Science,3.210000,170.000000,65.000000,15.000000
1,64002,สมหญิง,21.000,หญิง,Science,3.450000,165.000000,58.000000,20.000000
2,64003,ไม่ระบุชื่อ,20.875,ชาย,Science,3.670000,175.000000,63.611111,25.000000
3,64004,สมศักดิ์,22.000,ชาย,Science,3.466471,168.000000,70.000000,10.000000
4,64005,สมใจ,19.000,หญิง,Engineering,3.890000,160.000000,52.000000,30.000000
5,64006,กานต์,20.875,ชาย,Engineering,3.120000,172.000000,75.000000,12.000000
6,64007,กิตติ,21.000,หญิง,Engineering,4.000000,158.000000,48.000000,35.000000
7,64008,จิรา,20.000,หญิง,Liberal Arts,2.980000,180.000000,82.000000,18.000000
8,64009,ชนาธิป,23.000,ชาย,Liberal Arts,3.340000,163.000000,55.000000,22.000000
9,64010,ดารา,21.000,หญิง,Liberal Arts,3.560000,167.000000,60.000000,28.000000
10,64011,ธีระ,20.875,ชาย,Science,3.780000,167.684211,68.000000,21.388889
11,64012,นภา,22.000,ชาย,Science,3.466471,171.000000,63.611111,16.000000
12,64013,บุญมี,20.000,หญิง,Engineering,3.230000,169.000000,72.000000,24.000000
13,64014,ปรีชา,21.000,ชาย,Liberal Arts,3.450000,164.000000,54.000000,19.000000
14,64015,พิมพ์,22.000,หญิง,Science,3.670000,162.000000,56.000000,26.000000
15,64016,ภูมิ,19.000,ชาย,Science,3.890000,173.000000,78.000000,14.000000
16,64017,มานี,20.000,หญิง,Engineering,3.010000,166.000000,62.000000,21.000000
17,64018,ยุพา,21.000,หญิง,Science,3.230000,161.000000,50.000000,27.000000
18,64019,รัตนา,20.875,ชาย,Liberal Arts,3.466471,174.000000,76.000000,21.388889
19,64020,ลัดดา,22.000,ชาย,Science,3.450000,168.000000,64.000000,23.000000

เป็น DataFrame ที่สร้างขึ้นมาเก็บข้อมูลที่พร้อมสำหรับวิเคราะห์ต่อ